@font-face {
    font-family: 'RB';
    src: url('../fonts/Roboto-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'RR';
    src: url('../fonts/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}